{% load static %}

<script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}" ></script>
<script src="{% static 'js/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap/popper.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"> </script>

<script src="{% static 'js/bootstrap-dialog.js' %}"> </script>