{% load static %}

<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel='stylesheet' />
<link href="{% static 'css/font-awesome/font-awesome.min.css' %}" rel='stylesheet' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' />


<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables/dataTables.bootstrap.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-dialog.css' %}" />

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">