<link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel='stylesheet'/>

<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename= 'css/dataTables/dataTables.bootstrap.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap-dialog.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/rangeslider.custom.css') }}"/>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<link href="{{ url_for('static', filename= 'css/style.css') }}" rel='stylesheet'/>
<link href="{{ url_for('static', filename= 'css/style.class.css') }}" rel='stylesheet'/>